.App {
  text-align: center;
  font-family: "MuseoSansRegular";
  background-image: url(assets/background.svg);
  background-size: cover;
  overflow-x: hidden;
}
.app * {
  font-family: "MuseoSansRegular";
}

.heading {
  width: 100%;
  text-align: left;
  padding: 21px 60px;
  background-color: #fff;
  z-index: 6;
}

.nav {
  margin-left: 10%;
  display: inline-block;
}

.nav-item {
  cursor: pointer;
  font-family: "MuseoSansRegular";
  margin-left: 16px;
  display: inline-block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.sticky + .content {
  padding-top: 100px;
}
.logo {
  width: 120px;
}

.page-title {
  text-align: "center";
  font-size: 42px;
  margin-top: 23px;
}
.gray-text {
  color: #707070;
}
.blue-text {
  color: #228cd5;
}

.press-image {
  float: left;
  margin: 7px;
  padding: 0 20px 20px 0;
}
.light-gray {
  color: #707070;
}
